*{
box-sizing: border-box;
/* z-index: -1; */

}

#heading{
    display: inline-block;
    /* height: 100px; */
    font-size: 50px;
}

#primaryAddBtn{
    border: none;
    border-radius: 10px;
    height: 45px;
    margin: 10px;
    float: right;
}

#primaryAddNote{
    display: none;
    /* height: 0; */
    /* transition: 2.5s; */
}

.badge{
    color:white;
    background-color:#0d6efd;
}

.delbtn{
    margin-top: 2px;
    width:252px;

}

.listSelf{
    /* background-color: blue !important;  */
    width:23em;
    height: 2em;
    opacity: 1;
}

.card:hover{
border-color: black;
border: 3px solid #0d6efd;
box-shadow: 5px 2px 2px lightblue;


}

.card-text{
    max-height: 120px;
    overflow-y: hidden;
}

.card-title{

    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.copybtn{
position: absolute;
top:15px;
right:10px;
border:none;
border-radius: 20px;
z-index: 20;
/* padding:10px; */

}
.sharebtn{
position: absolute;
top:15px;
right:65px;
border:none;
border-radius: 20px;
z-index: 20;
/* padding:10px; */

}

.copybtn:hover{
    border:2px solid rgb(21, 8, 8) ;
}
.sharebtn:hover{
    border:2px solid rgb(21, 8, 8) ;
}


#id{
    flex-direction: column;
}

.zoom{
    display: inline-block;
    position: fixed;
    top:10%;
    right:180px;
    left: 180px;
    /* right: auto;
    left: auto; */
    bottom:10%;
    width: 75vw;
    height: 55vh;
    /* margin: auto; */
    border:2px solid #0d6efd;
    border-radius: 10px;
    background-color: white;
    z-index: 3;
}

.lbactive {
    background-color: #0d6efd !important;
    color:white;
}


@media (max-width:767px){
    .zoom{
        right: auto;
        left: auto;
    }

    
}

@media (max-width:307px){
    
    .delbtn{
      width: 100%;
    }

}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

